@import '~nativescript-theme-core/css/core.light.css';

Page {
  background-color: #333;
}

ListView {
  background-color: #333;
}

.image {
  height: 50;
  width: 50;
}

.label {
  color: #fff;
  font-size: 20;
  margin: 4;
  vertical-align: middle;
}

.text-white {
  color: #fff;
}

.greyBtn {
  background-color: #afaeaf;
  color: #fff;
}

.yellowBtn {
  background-color: #eeff02;
  color: #000;
}

#swipePage {
  background-color: white;
}

.purpleButton {
  background-color: purple;
  color: white;
}
